<cwc-grid class="demo-grid">
    <cwc-cell colspan="12" mobile-colspan="12">
        <cwc-button (click)="goHome()" variant="link" leading-icon="arrow-left-single">Atrás</cwc-button>
        <h2 class="title-profile">Usuarios</h2>

        <div class="main-content-search">
            <div class="content-search">     
                <cwc-input class='input' trailing-icon='magnifier-glass' placeholder='Buscar...'></cwc-input>
        
                <div class="content-btn-search">
                    <cwc-button (click)="addNewUser()" class="btn-add-user" variant='primary' designVersion="v2">
                        <cwc-icon class="icon-add" name="plus" size="12px" color="true-white"></cwc-icon>
                        Agregar usuario
                    </cwc-button>
                </div>
            </div>
        </div>

        <cwc-tabs (cwcTabActivated)="cwcTabActivated($event)">
            <cwc-tab name='solicitudes'>Solicitudes</cwc-tab>
            <cwc-tab name='usuarios' active='true'>Actuales</cwc-tab>
        </cwc-tabs>

        <div class="tabs-users-content">
            <div *ngIf="tabUsersRequests">
                <app-tab-users-requests></app-tab-users-requests>
            </div>

            <div *ngIf="tabCurrentUsers">                
                <app-tab-current-users></app-tab-current-users>
            </div>
        </div>
    </cwc-cell>
</cwc-grid>
