h2.style-title {
    margin-top: 0;
    margin-bottom: 2rem;
}

.content-check-docs {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
.input-check-docs {
    width: 100%;
    margin-bottom: 0.6rem;
}
.style-text {
    font-weight: 700;
    margin-bottom: 1rem;
}
.content-upload {
    margin-bottom: 1.5rem;
}