<div class="content-not-found">
    <div>        
        <span class="text-404">404</span>
        <h1 class="title">¡Ups! No se pudo encontrar esa página.</h1>
        <div class="msg-not-found">
            Lo sentimos, la página que busca no existe o se movió a otro lugar.<br/>
            Vuelva atrás y elija un nuevo enlace, o vuelva a intentarlo más tarde.
        </div>
        <div class="content-btn">
            <cwc-button (click)="goHome()" designVersion="v2" variant='primary'>Ir al Inicio</cwc-button>
        </div>
    </div>
</div>
