.content-grid-reset-password{
    padding: 1rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
 }
 .content-column{
    height:35rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .title-reset-password{
    color: #002a59;
    text-align: center;
}
.subtitle-reset-password{
    color: #002a59;
    text-align: center;
}
.input{
    padding-top: 1rem;
    width: 100%;
    margin-bottom: 0rem;
}