<cwc-grid class="demo-grid">
    <cwc-cell colspan="4" mobile-colspan="12">
        <h3>Vehículos actuales ({{vehicleList.length}})</h3>
    </cwc-cell>

    <cwc-cell colspan="8" mobile-colspan="12">
        <div class="content-filters">
            <cwc-picker class="picker select-filters" label="Empresa" placeholder="Seleccionar">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
            </cwc-picker>

            <cwc-picker class="picker select-filters select-rol" label="Status" placeholder="Seleccionar">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
            </cwc-picker>
        </div>
    </cwc-cell>

    <cwc-cell colspan="12" mobile-colspan="12">
        <div class='p-all-sm' style='background: #F4F6F9'>
            <cwc-table-wrapper>
                <table class='action'>
                    <thead>
                        <tr>
                            <th> Modelo </th>
                            <th> Status </th>
                            <th> Actividad </th>                            
                            <th> Empresa </th>
                            <th> Placa </th>                      
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cta" *ngFor="let vehicle of vehicleList" (click)="detailUser(vehicle.id)">
                            <td>{{vehicle.model}}</td>
                            <td *ngIf="vehicle.statusVehicle === 1" >Inactivo</td>
                            <td *ngIf="vehicle.statusVehicle === 2" >Activo</td>
                            <td *ngIf="vehicle.statusTravel === 2">
                                <cwc-status-indicator variant='success'>
                                    Disponible
                                </cwc-status-indicator>
                            </td>
                            <td *ngIf="vehicle.statusTravel === 1">
                                <cwc-status-indicator variant='warning'>
                                    En turno
                                </cwc-status-indicator>
                            </td>
                            <td>{{vehicle.companyId}}</td>
                            <td>{{vehicle.licenseVehiculo}}</td>
                        </tr>                       
                    </tbody>
                </table>
            </cwc-table-wrapper>        
        </div>
    </cwc-cell>
</cwc-grid>
