<cwc-grid class="demo-grid">
    <cwc-cell colspan="12" mobile-colspan="12">
        <cwc-button (click)="goInfoVehicles()" variant="link" leading-icon="arrow-left-single">Vehículos</cwc-button>
        <h2 class="title-form">Agregar vehículo</h2>
    </cwc-cell>       

    <cwc-cell colspan="12" mobile-colspan="12">
        <form [formGroup]="formNewVehicle" (submit)="createVehicle()">
            <cwc-grid class="demo-grid">
                <cwc-cell colspan="6" mobile-colspan="12">
                        
                        <cwc-input 
                            formControlName="Model"
                            [status]="getStatusField('Model')"
                            [statusMessage]="getMsgField('Model', 'modelo')"
                            required="true"
                            label='Modelo de vehículo' 
                            class='input-update-user' 
                            placeholder="Agrega el tipo de camión"></cwc-input>

                        <cwc-input 
                            formControlName="LicensePlate"
                            [status]="getStatusField('LicensePlate')"
                            [statusMessage]="getMsgField('LicensePlate', 'placa')"
                            required="true"
                            label='Placa' 
                            class='input-update-user' 
                            placeholder="Agrega número de serie"></cwc-input>

                        <cwc-input 
                            formControlName="TypeTrailer"
                            [status]="getStatusField('TypeTrailer')"
                            [statusMessage]="getMsgField('TypeTrailer', 'tipo de tráiler')"
                            required="true"
                            label='Tipo de tráiler' 
                            class='input-update-user' 
                            placeholder="Agregar tipo de tráiler"></cwc-input>

                        <cwc-select 
                            (cwcChange)="cwcChangeCompany($event)"                             
                            class="picker input-update-user" 
                            label="Empresa" 
                            placeholder="Seleccionar">
                            <cwc-select-option *ngFor="let companies of companiesList" [value]="companies.id">{{companies.companyName}}</cwc-select-option>
                        </cwc-select>

                        <cwc-input 
                            formControlName="Soat"
                            label='Número de SOAT (opcional)' 
                            class='input-update-user' 
                            placeholder="Agregar los 20 dígitos de su número de SOAT"></cwc-input>
                </cwc-cell>

                <cwc-cell colspan="6" mobile-colspan="12">
                
                    <div>
                        <div class="content-document">
                            <span class="title-doc">Documento de SOAT vigente (opcional)</span>
                            <div class="content-action-docs">
                                <div class="content-camera">
                                    <cwc-icon name="camera" size="28px" color="true-black"></cwc-icon>
                                    <span class="text-action">Tomar fotografía</span>
                                </div>
                                <div class="content-o">o</div>
                                <div class="content-file">
                                    <cwc-icon name="document" size="28px" color="true-black"></cwc-icon>
                                    <span class="text-action">Seleccionar archivo</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="content-document">
                            <span class="title-doc">Certificado de revisión técnico mecánica (opcional)</span>
                        
                            <div class="content-action-docs">
                                <div class="content-camera">
                                    <cwc-icon name="camera" size="28px" color="true-black"></cwc-icon>
                                    <span class="text-action">Tomar fotografía</span>
                                </div>
                                <div class="content-o">o</div>
                                <div class="content-file">
                                    <cwc-icon name="document" size="28px" color="true-black"></cwc-icon>
                                    <span class="text-action">Seleccionar archivo</span>
                                </div>
                            </div>
                        </div>
    
                        <div class="content-document">
                            <span class="title-doc">Póliza (opcional)</span>
                        
                            <div class="content-action-docs">
                                <div class="content-camera">
                                    <cwc-icon name="camera" size="28px" color="true-black"></cwc-icon>
                                    <span class="text-action">Tomar fotografía</span>
                                </div>
                                <div class="content-o">o</div>
                                <div class="content-file">
                                    <cwc-icon name="document" size="28px" color="true-black"></cwc-icon>
                                    <span class="text-action">Seleccionar archivo</span>
                                </div>
                            </div>
                        </div>

                        <div class="content-document">
                            <span class="title-doc">Tarjeta de propiedad (opcional)</span>
                        
                            <div class="content-action-docs">
                                <div class="content-camera">
                                    <cwc-icon name="camera" size="28px" color="true-black"></cwc-icon>
                                    <span class="text-action">Tomar fotografía</span>
                                </div>
                                <div class="content-o">o</div>
                                <div class="content-file">
                                    <cwc-icon name="document" size="28px" color="true-black"></cwc-icon>
                                    <span class="text-action">Seleccionar archivo</span>
                                </div>
                            </div>
                        </div>
                    </div>    
                    
                </cwc-cell>   

                <cwc-cell colspan="6" mobile-colspan="12">
                    <cwc-checkbox
                            formControlName="term"
                            [status]="getStatusField('term')"
                            required="true" 
                            class='m-end-sm input-check-user'>Confirmo que la siguiente información es verdadera. </cwc-checkbox>

                        <cwc-button 
                            onclick="document.getElementById('alert-confirm').setAttribute('open', true)"
                            variant="primary-block" 
                            design-version="v2">Agregar vehículo</cwc-button>                   
                    </cwc-cell>
            </cwc-grid> 
        </form>
    </cwc-cell>
</cwc-grid>

<cwc-modal id='alert-confirm'>
    <header slot='header'>
        <h2 style='margin:0;'>Atención</h2>
    </header>
    <p>¿Esta seguro que los datos registrados estan correctos?</p>
    <footer slot='footer'>
        <div style='text-align: end'>
            <cwc-button variant='support' style="margin-right: 1rem;"
                onclick="document.getElementById('alert-confirm').setAttribute('open', false)"
            >Cancelar</cwc-button>
            <cwc-button variant='primary' (click)="createVehicle()" >Aceptar</cwc-button>
        </div>
    </footer>
</cwc-modal>

<!-- Confirmational modal -->
<cwc-modal id='modal-ok' show-close-btn="false">
    <div style='text-align: center'>
        <cwc-icon name='accepted-ok' size='120px' color='bright-green'></cwc-icon>
        <h3 class='modal--confirmation__message'>Los cambios han sido guardados exitosamente.</h3>
    </div>
    <footer slot='footer'>
        <div style='text-align: center'>
            <cwc-button variant='primary' (click)="buttonBack()" >Aceptar</cwc-button>
        </div>
    </footer>
</cwc-modal>

<cwc-modal id='modal-error'>
    <div style='text-align: center'>
        <cwc-icon-animated variant="conflict" size='120px'></cwc-icon-animated> 
        <h3 class='modal--confirmation__message'>Vehículo existente.</h3>
    </div>
</cwc-modal>

<!-- Content loanding -->
<div *ngIf="loading" class="loading-content">
    <cwc-loader>
        <span slot='loading'>Espere un momento...</span>
    </cwc-loader>
</div>